{% extends 'base.html' %}

{% block title %}Home - Yield Curves{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="jumbotron bg-light p-5 rounded">
            <h1 class="display-4">Yield Curves</h1>
            {% if user.is_authenticated %}
                <hr class="my-4">
                <p>Hello {{ user.username }}! You are successfully logged in.</p>
                <a class="btn btn-primary btn-lg" href="{% url 'yield_curves:analysis_list' %}" role="button">View Analyses</a>
            {% else %}
                <hr class="my-4">
                <p>Welcome to Yield Curves! Please login or create an account to get started.</p>
                <a class="btn btn-primary btn-lg" href="{% url 'accounts:login' %}" role="button">Login</a>
                <a class="btn btn-outline-primary btn-lg ms-2" href="{% url 'accounts:signup' %}" role="button">Sign Up</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
